
/// Icon Fonts
@font-face {
  font-family: 'oxbow';
  src: url('../fonts/fontello-oxbow/font/oxbow.eot?');
  src: url('../fonts/fontello-oxbow/font/oxbow.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fontello-oxbow/font/oxbow.woff') format('woff'),
       url('../fonts/fontello-oxbow/font/oxbow.ttf') format('truetype'),
       url('../fonts/fontello-oxbow/font/oxbow.svg#oxbow') format('svg');
  font-weight: bold;
  font-weight: normal; 
  font-style: normal;
}  
