<div class="field field--name-field-p-iframe">
  <iframe src="{{ content.field_p_iframe_url['#items'].uri }}" height="{{ content.field_p_iframe_height['#items'].value }}" frameborder="0"></iframe>
</div>