$ox-orange: #DD6011;
$ox-gray: #404040;

$white       : #FFFFFF;
$gainsboro   : #DDDDDD;
$base        : #AAAAAA;
$charcoal    : #555555;
$oil         : #333333;
$black       : #000000;

$bethel-purple: #8B3A7E;
$bethel-purple-1: #A8619D;
$bethel-blue: #007178;
$bethel-blue-1: #548395;
$bethel-blue-2: #A4C1CC;
$bethel-tan: #C0C2B8;
$bethel-green: #6EBE6E;
$bethel-red: #C55252;

$foundation-palette: (
  primary: $bethel-blue,
  secondary: hotpink,
  success: #3fbc4b,
  warning: #ffae00,
  alert: #ec5840,
);

$oxbow-colors: (
  primary: $ox-orange,
  secondary: $ox-gray,
  success: #4ACE57,
  warning: #EFF453,
  alert: #dc143c,
  status: cornflowerblue,
);

$site-colors: (
  header: $bethel-purple,
  body: white,
  footer: $bethel-blue,

  header-text: white,
  footer-text: rgba(white, .5),

  menu: transparent,
  menu-text: white,

  menu-child: $bethel-blue,
  menu-child-hover: $bethel-blue-1,
  menu-child-active: darken($bethel-blue-1, 5%),
  menu-child-text: white,
  menu-child-text-hover: white,
  menu-child-text-active: white,

  menu-mobile: $bethel-blue,
  menu-mobile-text: white,

  menu-footer-text: rgba(white, .8),
  menu-social-text: rgba(white, .8),

  title: $bethel-blue,
  subtitle: $charcoal,
  text: $charcoal,
  link: map-get($foundation-palette, primary),
  table: $base,

  button: map-get($foundation-palette, primary),
  button-text: white,
  button-secondary: $bethel-purple,
  button-secondary-text: white,
  button-tertiary: $bethel-tan,
  button-tertiary-text: $charcoal,

  input: transparent,
  input-label: $charcoal,
  input-active: map-get($foundation-palette, primary),

  slick-arrow: white,
);

@function color($color, $set:null) {
  @if($set == null or $set == 'site') {
    @return map-get($site-colors, $color);
  }
  @else if($set == 'oxbow'){
    @return map-get($oxbow-colors, $color);
  }
  @else if($set == 'foundation') {
    @return map-get($foundation-palette, $color);
  }
}