/// Global Site Variables

/// Width
$site-w: rem-calc(1024);

/// Foundation Helpers
$headers: map-get($header-sizes, medium);
$font-size: $global-font-size;

/// Padding
$site-p: rem-calc(24);
$site-p-xs: $site-p / 4;
$site-p-s: $site-p / 2;
$site-p-l: $site-p * 2;
$site-p-xl: $site-p * 4;

$padding: (
  xs: $site-p-xs,
  s: $site-p-s,
  m: $site-p,
  l: $site-p-l,
  xl: $site-p-xl,
);

$paragraph-p: map-get($padding, m);

$paragraph-padding: (
  auto: $paragraph-p,
  none: 0,
  xs: rem-calc(6),
  s: rem-calc(12),
  m: $paragraph-p,
  l: rem-calc(36),
  xl: rem-calc(48),
  xxl: rem-calc(72),
  xxxl: rem-calc(144),
);

@function padding($size, $set:null) {
  @if($set == null or $set == 'site') {
    @return map-get($padding, $size);
  }
  @else if($set == 'paragraphs' or $set == 'paragraph') {
    @return map-get($paragraph-padding, $size);
  }
}

/// Constraints
$constrain-w: $site-w;
$constrain-p: padding(m);