///////////////
/// Classes ///
///////////////

/// Hide Element
.element-invisible {
  display: none;
}

/// Group Clearfix
%group, .group {
  :after {
    content: "";
    display: table;
    clear: both;
  }
}

/// Prevent Select
%no-select, .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/// Hide Link Borders
.no-border {
  a {
    border-bottom: none !important;
  }
}



//////////////
/// Mixins ///
//////////////

/// Constraints
@mixin constrain($padding:true) {
  @if $padding {
    max-width: $constrain-w;
    margin: 0 auto;
    padding-left: $constrain-p;
    padding-right: $constrain-p;
  }
  @else {
    max-width: $constrain-w; // - ($constrain-p * 2);
    margin: 0 auto;
  }
}

@mixin constrain-reset() {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

/// Font Size
@mixin header-size($type:h1) {
  font-size: rem-calc(map_get(map_get($header-sizes, "small"), $type) * 1px);
  @include breakpoint(medium){
    font-size: rem-calc(map_get(map_get($header-sizes, "medium"), $type) * 1px);
  }
}

/// Group Clearfix
@mixin group() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/// Fill Area
@mixin fill() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/// Flex Display
@mixin flex($h-align:none, $v-align:none, $dir:none) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  @if $h-align != none {
    -webkit-box-pack: $h-align;
    -webkit-justify-content: $h-align;
    -ms-flex-pack: $h-align;
    justify-content: $h-align;
  }
  
  @if $v-align != none {
    -webkit-box-align: $v-align;
    -webkit-align-items: $v-align;
    -ms-flex-align: $v-align;
    align-items: $v-align;
  }
  
  @if $dir != none {
    //-webkit-box-orient: $dir;
    -webkit-box-direction: $dir;
    -webkit-flex-direction: $dir;
    -ms-flex-direction: $dir;
    flex-direction: $dir;
  }
}

/// Transform
@mixin transform($transform) {
  -moz-transform: $transform;
  -o-transform: $transform;
  -ms-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin transition($string) {
  -webkit-transition: #{$string};
  -moz-transition: #{$string};
  -ms-transition: #{$string};
  -o-transition: #{$string};
  transition: #{$string};
}

/// Horizontal Spacer
@mixin spacer($color: $base) {
  content: '\2666';
  display: block;
  width: 50%;
  height: 1px;
  margin: 0 auto;
  background: $color;
  color: $color;
  text-align: center;
  line-height: 0;
}