
.view {
  
  > .view-content {
    
    .views-row {
      margin-bottom: padding(m);
    }
  }
}

.paragraph--type--view.layout-type-stack .view {
  .view-content {
    flex-wrap: wrap;
  }
  .views-row {
    flex: 1 0 100%;
  }
}