
.node--type-sermon {
}

/// Node page
body.page-node-type-sermon .node--type-sermon {

  .node__date {
    text-align: center;
    margin-bottom: padding(m);
  }

  [class *= 'field--type-text'] {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  audio {
    display: block;
    margin: padding(m) auto 0;
  }
}

/// All Block
.node--type-sermon.node--view-mode-teaser {
  @include flex($v-align: baseline, $h-align: space-between);
  flex-direction: row;
  flex-wrap: wrap;

  .node__title {
    padding-right: padding(m);
  }

  .node__content {
    width: 100%;

    audio {
      margin-top: padding(s);
    }
  }
}