
$button-tny: rem-calc(10);
$button-sml: rem-calc(14);
$button-med: rem-calc(16);
$button-lrg: rem-calc(18);

$button-display: inline-block;
$button-margin-bottom: 0; //$site-p;

$button-border-width: 0;
$button-border-style: solid;
$button-bg-color: $primary-color;

$button-radius: rem-calc(3);
$button-round: $global-rounded;

$button-function-factor: -20%;

// We use these to control button text styles.
// $button-font-family: $body-font-family;
// $button-font-color: $white;
// $button-font-color-alt: $oil;
// $button-font-weight: $font-weight-normal;
// $button-font-align: center;

// We use these to control various hover effects.
// $button-function-factor: -20%;

// $button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor);
// $button-border-color: $button-bg-hover;
// $secondary-button-bg-hover: scale-color($secondary-color, $lightness: $button-function-factor);
// $secondary-button-border-color: $secondary-button-bg-hover;
// $success-button-bg-hover: scale-color($success-color, $lightness: $button-function-factor);
// $success-button-border-color: $success-button-bg-hover;
// $alert-button-bg-hover: scale-color($alert-color, $lightness: $button-function-factor);
// $alert-button-border-color: $alert-button-bg-hover;
// $warning-button-bg-hover: scale-color($warning-color, $lightness: $button-function-factor);
// $warning-button-border-color: $warning-button-bg-hover;
// $info-button-bg-hover: scale-color($info-color, $lightness: $button-function-factor);
// $info-button-border-color: $info-button-bg-hover;

// We use this to set default opacity and cursor for disabled buttons.
// $button-disabled-opacity: .7;
// $button-disabled-cursor: $cursor-default-value;

// 06. Button Groups
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-button-classes: $include-html-classes;

// Sets the margin for the right side by default, and the left margin if right-to-left direction is used
// $button-bar-margin-opposite: rem-calc(10);
// $button-group-border-width: 1px;