@charset "UTF-8";
/* line 59, ../sass/_oxbow_paragraphs.admin.mixin.scss */
.field--widget-entity-reference-paragraphs .p-icon label, .p-menu, .paragraphs-subform > .toggle, .no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'oxbow-paragraphs';
  src: url("../fonts/oxbow_paragraphs/font/oxbow_paragraphs.eot?");
  src: url("../fonts/oxbow_paragraphs/font/oxbow_paragraphs.eot?#iefix") format("embedded-opentype"), url("../fonts/oxbow_paragraphs/font/oxbow_paragraphs.woff") format("woff"), url("../fonts/oxbow_paragraphs/font/oxbow_paragraphs.ttf") format("truetype"), url("../fonts/oxbow_paragraphs/font/oxbow_paragraphs.svg#oxbow-paragraphs") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 36, ../sass/_oxbow_paragraphs.admin.base.scss */
body.page-node-type-content-page {
  padding-bottom: 100px;
}
@media screen and (orientation: portrait) {
  /* line 36, ../sass/_oxbow_paragraphs.admin.base.scss */
  body.page-node-type-content-page {
    padding-bottom: 30vh;
  }
}

/* line 45, ../sass/_oxbow_paragraphs.admin.base.scss */
table td a.tabledrag-handle .handle {
  background-position: 40% 10px !important;
  height: 28px !important;
}

/* line 58, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions tr.p-active {
  z-index: 2;
}
/* line 62, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions > * {
  opacity: 0;
  transition: opacity .5s;
}
/* line 67, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions:before {
  content: 'Loading Content';
  font-size: 14px;
  opacity: 1;
  display: block;
  text-align: center;
  padding-top: 20px;
}
/* line 77, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions.p-loaded > * {
  opacity: 1;
}
/* line 80, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions.p-loaded:before {
  display: none;
}
/* line 87, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p-deleted > td {
  line-height: 1;
}
/* line 90, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p-deleted > .field-multiple-drag {
  display: none !important;
}
/* line 93, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p-deleted .paragraph-type-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: row;
}
/* line 97, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p-deleted .paragraph-type-top .p-restore {
  display: block !important;
  background: #DDDDDD;
  padding: 7.5px 15px;
}
/* line 102, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p-deleted .paragraph-type-top .p-restore.icon-loading {
  color: #DDDDDD;
}
/* line 104, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p-deleted .paragraph-type-top .p-restore.icon-loading:after {
  color: #333333;
}
/* line 110, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p-deleted .paragraph-type-top .paragraphs-dropbutton-wrapper {
  display: none !important;
}
/* line 117, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p-add {
  font-size: 0;
}
/* line 119, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p-add > * {
  display: none !important;
}
/* line 122, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p-add > .p__add {
  display: block !important;
}
/* line 127, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add {
  position: relative;
  width: 100%;
  float: left;
  margin: 0 auto;
}
/* line 133, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add > .btn {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: #0eb1ff;
  color: white;
  border-radius: 50%;
  font-size: 13px;
}
/* line 143, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add > .btn:after {
  font-family: 'oxbow-paragraphs';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  content: '\E800';
  transition: all .5s;
}
/* line 151, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add > .btn.open::after {
  transform: rotate(45deg);
}
/* line 155, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add > .btn.icon-loading::after {
  content: '\0041';
}
/* line 160, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add .add__menu {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 3;
  width: 300px;
  transform: translateX(-50%);
  background: lightgray;
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.3);
  margin-top: 12px;
  margin-bottom: 12px;
}
/* line 177, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add .add__menu:before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  z-index: -1;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  margin-left: -15px;
  background: lightgray;
}
/* line 190, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add .add__menu .btn {
  flex: 33.33333% 1 0;
  max-width: 33.33333%;
  padding: 12px;
  text-align: center;
  border: 1px solid #c6c6c6;
  font-size: 13px;
}
/* line 199, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add .add__menu .btn:hover {
  background: rgba(255, 255, 255, 0.5);
}
/* line 205, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add.open-bottom .add__menu {
  bottom: auto;
  top: 100%;
}
/* line 209, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add.open-bottom .add__menu:before {
  top: -12px;
  bottom: auto;
}
/* line 215, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .p__add .btn.toggle.open + .add__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 221, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions .paragraphs-dropbutton-wrapper {
  text-align: center;
  margin: 40px 0;
}
/* line 226, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions table[id*='field-p-regions'] > tbody > tr {
  border-color: rgba(76, 113, 150, 0.5) !important;
  border-width: 2px !important;
}

/* line 234, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .tabledrag-toggle-weight-wrapper {
  display: none;
}
/* line 238, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs * {
  box-sizing: border-box;
}
/* line 243, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'],
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] {
  display: inline-block;
  width: 100%;
}
/* line 248, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > thead,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > thead {
  display: none;
}
/* line 252, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody {
  display: inline-block;
  width: 100%;
  white-space: normal;
}
/* line 257, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 30px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-top: 45px;
  border-radius: 3px;
}
/* line 267, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr:first-child,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr:first-child {
  margin-top: 30px;
}
/* line 271, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr > td,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr > td {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0;
}
/* line 277, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr > td .paragraph-type-top,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr > td .paragraph-type-top {
  height: 0;
  margin: 0;
  padding: 0;
}
/* line 282, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr > td .paragraph-type-top > *,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr > td .paragraph-type-top > * {
  display: none;
}
/* line 286, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr > td .paragraph-type-top .paragraph-type-title,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr > td .paragraph-type-top .paragraph-type-title {
  display: block;
  overflow: visible;
  font-weight: bold;
}
/* line 293, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr > td .paragraphs-subform > .form-wrapper,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr > td .paragraphs-subform > .form-wrapper {
  margin-top: 12px;
}
/* line 299, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr .p-swap,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr .p-swap {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 5px;
}
/* line 307, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr .p-swap a,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr .p-swap a {
  display: inline-block;
  position: relative;
  top: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
/* line 315, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr .p-swap a:after,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr .p-swap a:after {
  content: 'S';
  font-family: oxbow-paragraphs;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: white;
  line-height: 1;
  transition: all .3s;
  padding: 2px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: rotate(90deg);
}
/* line 329, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr .p-swap a:hover:after,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr .p-swap a:hover:after {
  transform: rotate(270deg);
}
/* line 336, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs table[id*='field-p-regions-values'] > tbody > tr:last-child > .p-swap,
.field--widget-entity-reference-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr:last-child > .p-swap {
  display: none;
}
/* line 348, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .field--name-field-p-image,
.field--widget-entity-reference-paragraphs .field--name-field-p-caption {
  width: 50%;
  float: left;
}
/* line 353, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .field--name-field-p-image {
  padding-right: 30px;
}
/* line 355, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .field--name-field-p-image img {
  max-width: 100%;
  height: auto;
}
/* line 359, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .field--name-field-p-image input[value='Remove'] {
  display: block;
  margin: 15px 0 0 0;
}
/* line 379, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .p-icon {
  float: left;
  height: 40px;
  width: 40px;
  font-size: 0;
  position: relative;
}
/* line 386, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .p-icon input {
  display: none;
}
/* line 390, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .p-icon input:checked + label {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transition: all .3s ease-out;
}
/* line 394, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .p-icon input:checked + label:before {
  border: 7px solid transparent;
}
/* line 399, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .p-icon label {
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  border-radius: 2px;
  transition: all .3s ease-in;
}
/* line 407, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .p-icon label:before {
  content: '';
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background: transparent;
  border: none;
  border-radius: 2px;
}
/* line 415, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--widget-entity-reference-paragraphs .p-icon label:hover {
  transition: all .2s ease-out;
  position: absolute;
  top: 5.33333px;
  bottom: 5.33333px;
  left: 5.33333px;
  right: 5.33333px;
}

/* line 423, ../sass/_oxbow_paragraphs.admin.base.scss */
.ajax-loading {
  position: relative;
  color: rgba(255, 255, 255, 0) !important;
}
/* line 427, ../sass/_oxbow_paragraphs.admin.base.scss */
.ajax-loading:after {
  content: 'A';
  font-family: oxbow-paragraphs;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 3px;
  color: black !important;
  font-size: 11px;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 458, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-regions table[id*='field-p-regions-values'] > tbody > tr > td.field-multiple-drag {
  display: none !important;
}

/* line 469, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-paragraphs {
  position: relative;
  z-index: 1;
}
/* line 474, ../sass/_oxbow_paragraphs.admin.base.scss */
.field--name-field-p-paragraphs table[id*='field-p-paragraphs-values'] > tbody > tr > td.field-multiple-drag {
  display: none !important;
}

/* line 480, ../sass/_oxbow_paragraphs.admin.base.scss */
.paragraphs-subform {
  position: relative;
  z-index: 1;
}
/* line 484, ../sass/_oxbow_paragraphs.admin.base.scss */
.paragraphs-subform.active {
  z-index: 2;
}

/* line 496, ../sass/_oxbow_paragraphs.admin.base.scss */
form[data-drupal-form-fields*='edit-field-p-regions'] .layout-region-node-main {
  width: 100%;
  padding-right: 0;
  margin-bottom: 30px;
}

/*
 * Oxbow Paragraphs Menus
 *  - Theming for menus, and their contents
 *  - Portable partial file, local variables only
 */
/* line 9, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-hide {
  display: none !important;
}

/* line 15, ../sass/_oxbow_paragraphs.admin.menu.scss */
.field--name-field-p-settings {
  display: none !important;
}
/* line 18, ../sass/_oxbow_paragraphs.admin.menu.scss */
.field--name-field-p-settings.p-show {
  display: block !important;
}

/* line 60, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu {
  position: relative;
  z-index: 1;
  padding-bottom: 16px;
}
/* line 67, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu.open {
  z-index: 2;
}
/* line 71, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu ul {
  margin: 0;
  text-align: right;
}
/* line 77, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu > ul > li {
  list-style: none;
  padding: 0;
  display: inline-block;
  position: relative;
}
/* line 84, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu > ul > li > .p-menu-item {
  position: relative;
  z-index: 300 !important;
  padding: 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none !important;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
/* line 97, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu > ul > li > .p-settings {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 301;
  max-width: 500px;
  background: #41576D;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 80px;
  box-shadow: 0 5px 12px -3px rgba(0, 0, 0, 0.7);
}
/* line 112, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu > ul > li.active {
  z-index: 903;
}
/* line 116, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu > ul > li.active > .p-menu-item {
  background: #41576D;
  color: white;
}
/* line 122, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu > ul > li.active > .p-settings {
  display: block;
}
/* line 128, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu li[data-setting='delete'] {
  padding-left: 8px;
}
/* line 130, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu li[data-setting='delete'] .p-delete {
  font-family: oxbow-paragraphs;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
/* line 136, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu li[data-setting='delete'] .p-delete:hover {
  color: red;
}

/* line 148, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-settings * {
  box-sizing: border-box;
  color: white;
  font-size: 12px;
  font-weight: normal !important;
  line-height: 1 !important;
}
/* line 156, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-settings label {
  font-size: 14px;
  letter-spacing: 0.14px;
  margin: 0;
}
/* line 162, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-settings input[type='text'], .p-settings textarea {
  width: 100%;
  background: #2e3e4d;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}
/* line 170, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-settings select {
  width: 100%;
  background-image: none !important;
  background: #2e3e4d;
  color: white !important;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-shadow: none;
  text-align: center;
}
/* line 182, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-settings > .p-setting:last-of-type {
  border-bottom: none;
}

/* line 189, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-setting {
  position: relative;
  min-width: 480px;
  padding-bottom: 10px;
  padding: 10px;
  padding-left: 166.66667px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  text-align: right;
  font-size: 0;
}
/* line 201, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-setting > .p-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 10px;
  right: auto;
  top: 10px;
  bottom: 10px;
  width: 146.66667px;
  white-space: normal;
  text-align: left;
}
/* line 213, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-setting > .p-label label {
  width: 100%;
  display: block;
}
/* line 221, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-setting .buttons, .p-setting .pane-menu, .p-setting .actions {
  margin: -5px;
}
/* line 225, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-setting .button {
  background-image: none !important;
  background: #2e3e4d;
  text-shadow: none;
  border-radius: 0;
  border: none !important;
  padding: 0 !important;
  margin: 5px !important;
  outline: none !important;
  box-shadow: none !important;
}
/* line 238, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-setting .button:hover {
  background: #24313d;
}
/* line 245, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-setting .button a {
  display: inline-block;
  padding: 10px;
  background: transparent;
  text-decoration: none;
}
/* line 251, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-setting .button a.active {
  background: white;
  color: #2e3e4d;
}

/* line 260, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane-menu {
  min-width: 0;
  padding-left: 10px;
  text-align: right;
  border-bottom: none;
}
/* line 266, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane-menu .button {
  background: transparent;
}
/* line 269, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane-menu .button:hover {
  background: #374a5d;
}
/* line 273, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane-menu .button a.active {
  background: #2e3e4d;
  color: white;
}

/* line 282, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane {
  display: none;
  background: #2e3e4d;
  padding: 0 !important;
  margin: -10px 0 0 !important;
  border-bottom: none;
}
/* line 289, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane > .p-label {
  display: none;
  width: 100%;
  position: static;
  padding-bottom: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 298, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane > .p-label label {
  text-transform: uppercase;
}
/* line 303, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane input[type='text'], .p-pane textarea {
  background: #1b242d;
}
/* line 307, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane .p-select:after {
  bottom: 13px;
}
/* line 311, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane select {
  background: #1b242d;
}
/* line 315, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane .button {
  background: #1b242d;
}
/* line 318, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane .button:hover {
  background: #24313d;
}
/* line 323, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane.active {
  display: block;
}
/* line 330, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane > .p-pane-menu .button {
  background: #41576D;
}
/* line 333, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane > .p-pane-menu .button:hover {
  background: #24313d;
}
/* line 337, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane > .p-pane-menu .button a.active {
  background: #1b242d;
}
/* line 344, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane > .p-pane {
  background: #1b242d;
}
/* line 347, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane > .p-pane .button {
  background: #2e3e4d;
}
/* line 350, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane > .p-pane .button a.active {
  background: white;
}
/* line 358, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane > .p-popup .popup-preview {
  background: #1b242d;
}

/* line 365, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup {
  position: relative;
}
/* line 368, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup .popup-preview {
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  margin: 0 !important;
  background: #2e3e4d;
}
/* line 375, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup .popup-preview .icon--color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  margin: 0;
}
/* line 381, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup .popup-preview .icon--color:before {
  font-size: 7.2px;
}
/* line 385, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup .popup-preview .icon--color[data-color='auto'] {
  background: transparent;
}
/* line 391, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup {
  display: none;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 310;
  margin-left: 10px;
  background: #6A8593;
  box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.5);
  border: 0 solid #6A8593;
}
/* line 407, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup:before {
  content: '';
  width: 30px;
  height: 30px;
  transform: scaleY(0.8) rotate(45deg);
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -15px;
  margin-left: 5px;
  background: #6A8593;
}
/* line 421, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup.pos-l {
  left: auto;
  right: 50px;
  margin-right: 10px;
  margin-left: 0;
}
/* line 427, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup.pos-l:before {
  left: auto;
  right: -15px;
  margin-left: 0;
  margin-right: 5px;
}
/* line 436, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup.pos-t {
  top: auto;
  bottom: 100%;
  left: 100%;
  margin: 0;
  margin-bottom: 10px;
  transform: translateX(-50%);
  margin-left: -30px;
}
/* line 445, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup.pos-t:before {
  top: auto;
  bottom: -15px;
  left: 50%;
  margin: 0;
  margin-left: -15px;
  margin-bottom: 5px;
  transform: scaleX(0.8) rotate(45deg);
}
/* line 457, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup.pos-b {
  top: 100%;
  left: 100%;
  margin: 0;
  margin-top: 10px;
  transform: translateX(-50%);
  margin-left: -30px;
}
/* line 465, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup.pos-b:before {
  top: -15px;
  left: auto;
  right: 0;
  margin: 0;
  margin-top: 5px;
  transform: scaleX(0.8) rotate(45deg);
}
/* line 475, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup .p-setting {
  min-width: 333.33333px;
  padding-left: 10px;
}
/* line 479, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup .p-setting > .p-label {
  display: none;
}
/* line 484, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup > .p-setting {
  background: #6A8593;
}
/* line 487, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup > .p-setting:last-of-type {
  border-bottom: none;
}
/* line 492, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup > .p-pane-menu {
  background: #6A8593;
}
/* line 495, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup > .p-pane-menu .button {
  background: #6A8593;
}
/* line 498, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup > .p-pane-menu .button:hover {
  background: #5f7884;
}
/* line 502, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup > .p-pane-menu .button a.active {
  background: #556a75;
}
/* line 508, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup > .p-pane {
  background: #556a75;
}
/* line 511, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup > .p-pane .button {
  background: #3f4f58;
}
/* line 515, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup > .popup > .p-pane > .p-setting:last-of-type {
  border-bottom: none;
}
/* line 521, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup.active > .popup {
  display: block;
}

/* line 530, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-drupal .description {
  display: none !important;
  color: rgba(255, 255, 255, 0.6) !important;
}
/* line 536, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-drupal .field[data-map] label {
  display: none;
}

/* line 544, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-select {
  position: relative;
}
/* line 547, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-select:after {
  content: '▼';
  color: white;
  position: absolute;
  top: 21.2px;
  right: 20px;
  font-size: 12px;
  pointer-events: none;
}

/* line 562, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-colors .color-palette {
  font-size: 0;
  margin: -5px;
  white-space: normal;
}
/* line 567, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-colors .color-palette .color {
  display: inline-block;
}
/* line 571, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-colors .color-palette .icon--color {
  margin: 5px;
  cursor: pointer;
  outline: 2px solid rgba(255, 255, 255, 0.6);
}
/* line 576, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-colors .color-palette .icon--color.active {
  border: 5px solid #1b242d;
}

/* line 583, ../sass/_oxbow_paragraphs.admin.menu.scss */
.icon--color {
  position: relative;
  width: 40px;
  height: 40px;
}
/* line 588, ../sass/_oxbow_paragraphs.admin.menu.scss */
.icon--color[data-color='auto'] {
  background: #2e3e4d;
}
/* line 590, ../sass/_oxbow_paragraphs.admin.menu.scss */
.icon--color[data-color='auto']:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  content: 'Auto';
  font-size: 9px;
  text-transform: uppercase;
}

/* line 602, ../sass/_oxbow_paragraphs.admin.menu.scss */
[data-setting='background'] .icon--color[data-color='auto']:before {
  content: 'None';
}

/* line 611, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-popup .popup .p-colors {
  min-width: 210px;
  max-width: 210px;
}

/* line 618, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane[data-field='columns'] .p-popup .p-setting {
  min-width: 210px;
}
/* line 623, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-pane[data-field='columns'] > .p-pane-menu .button a {
  padding: 10px 15px;
}

/* line 632, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu .field--name-field-p-setting-title-link .description {
  display: none;
}
/* line 636, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu .field--name-field-p-setting-title-link input {
  color: white;
  background-position: 100% center;
  background-repeat: no-repeat;
}

/* line 645, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu .field--name-field-p-setting-bg-img img {
  max-width: 150px;
  height: auto;
}
/* line 650, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu .field--name-field-p-setting-bg-img .description,
.p-menu .field--name-field-p-setting-bg-img .ajax-new-content {
  display: none !important;
}
/* line 657, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu .field--name-field-p-setting-bg-img .image-widget-data > .file-size {
  display: none;
}
/* line 662, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu .field--name-field-p-setting-bg-img input.button {
  padding: 10px !important;
  margin: 10px 0 0 10px !important;
  font-size: 12px;
  color: white;
  text-decoration: none !important;
}

/* line 673, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu .field--name-field-p-setting-bg-vid .description,
.p-menu .field--name-field-p-setting-bg-vid .ajax-new-content {
  display: none !important;
}
/* line 678, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu .field--name-field-p-setting-bg-vid input.button {
  padding: 10px !important;
  margin: 10px 0 0 10px !important;
  font-size: 12px;
  color: white;
  text-decoration: none !important;
}

/* line 688, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu .file--image,
.p-menu .file--video {
  display: block;
  background: transparent;
  padding: 5px 0;
}

/* line 700, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-menu li[data-setting='status'] {
  display: none;
}

/* line 704, ../sass/_oxbow_paragraphs.admin.menu.scss */
.p-has-status > .paragraph-type-top {
  display: none;
}

/* line 709, ../sass/_oxbow_paragraphs.admin.menu.scss */
.field--widget-entity-reference-paragraphs table tbody tr.p-status-hide {
  border-color: crimson !important;
}
/* line 712, ../sass/_oxbow_paragraphs.admin.menu.scss */
.field--widget-entity-reference-paragraphs table tbody tr.p-status-draft {
  border-color: yellow !important;
}

/* line 717, ../sass/_oxbow_paragraphs.admin.menu.scss */
div.p-status-hide {
  height: 130px;
  overflow: hidden;
}
/* line 721, ../sass/_oxbow_paragraphs.admin.menu.scss */
div.p-status-hide > .paragraph-type-top,
div.p-status-hide > .paragraphs-subform > *:not(.p-menu) {
  opacity: .3;
  pointer-events: none;
}
/* line 727, ../sass/_oxbow_paragraphs.admin.menu.scss */
div.p-status-hide > .paragraphs-subform > .p-menu > ul > li:not([data-setting="delete"]) {
  opacity: .3;
  pointer-events: none;
}
/* line 732, ../sass/_oxbow_paragraphs.admin.menu.scss */
div.p-status-hide > .paragraphs-subform > .toggle {
  pointer-events: auto;
}

/* line 739, ../sass/_oxbow_paragraphs.admin.menu.scss */
.paragraphs-subform > .toggle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity .5s;
  opacity: .5;
}
/* line 751, ../sass/_oxbow_paragraphs.admin.menu.scss */
.paragraphs-subform > .toggle:hover {
  opacity: 1;
}
/* line 755, ../sass/_oxbow_paragraphs.admin.menu.scss */
.paragraphs-subform > .toggle .toggle-state {
  width: 45px;
}
/* line 759, ../sass/_oxbow_paragraphs.admin.menu.scss */
.paragraphs-subform > .toggle .toggle-labels {
  width: 100%;
}
/* line 763, ../sass/_oxbow_paragraphs.admin.menu.scss */
.paragraphs-subform > .toggle .toggle-label {
  width: 45px;
  float: left;
  display: inline-block;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 6px 5px 5px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .5px;
  cursor: pointer;
}
/* line 778, ../sass/_oxbow_paragraphs.admin.menu.scss */
.paragraphs-subform > .toggle .toggle-label.active {
  color: rgba(0, 0, 0, 0.8);
}
/* line 783, ../sass/_oxbow_paragraphs.admin.menu.scss */
.paragraphs-subform > .toggle .toggle-active {
  width: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
  transition: left .5s;
}
