/// Titles
#block-starter-page-title {
  text-align: center;

  h1 {
    margin-bottom: padding(s);
  }
}

h1 {
  //font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-family: $font-body;
}


/// Links
[class*='field--type-text'] a {
  border-bottom: 1px solid;
}

/// Font Size Classes
.fs-s {
  font-size: rem-calc(12);
}
.fs-m {
  font-size: $global-font-size;
}
.fs-l {
  font-size: map-get($headers, h3);
}
.fs-xl {
  font-size: map-get($headers, h2);
}
.fs-xxl {
  font-size: map-get($headers, h1);
}