
.debug {
  padding: 1em;
  background: khaki;
  border-bottom: 3px solid rebeccapurple;
  
  * {
    margin: 0;
    color: black;
  }
  
  h5 {
    color: black !important;
    font-weight: bold;
  }
  
  span {
    display: block;
    padding-top: .5em;
  }
  
  tr {
    background: white;
    
    &:nth-child(even) {
      background: silver;
    }
  }
  
  td {
    padding: 0 1em;
    font-size: 12px;
  }
  
  table td:first-child {
    width: 100px;
    color: black !important;
  }
}