
#footer {
  background: color(footer);
  color: color(footer-text);
  
  > .layout-container {
    padding-top: padding(l);
    padding-bottom: padding(m);
  }

  #block-bethelfooter {
    margin: padding(m) 0;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  #block-oxbowlabscopyright {
    text-align: center;
    font-size: .8em;
    color: color(footer-text);

    * {
      color: lighten(color(footer), 20%);
    }
  }
  * + #block-oxbowlabscopyright {
    margin-top: padding(l);
  }
}
