$target: '#block-socialmedia';

#{$target} {
  .menu {
    @include flex($h-align:center, $v-align:center);

    li {
      padding: 0 $site-p-s;
      @include flex($h-align:center, $v-align:center);

      a {
        color: color(menu-social-text);
        padding: 0;
        font-size: 0;

        &:after {
          font-size: rem-calc(30);
        }
      }
    }
  }
}
* + #{$target} {
  margin-top: $site-p;
}