@import 'oxbow_paragraphs.util';

$cols-max: 10;
$col-w-min: 320px;


/// Percent Based Column Mixin
@mixin column($width:100%, $columns:null) {
  @if $columns == null {
    max-width: $width;
    flex: 0 0 $width;
  }
  @else {
    max-width: (100% / $columns);
    flex: 0 0 (100% / $columns);
  }
}

/// Layout Wrapper
.layout-columns {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/// Layout Items
@for $w1 from 1 through $cols-max {
  @for $w2 from 1 through $cols-max {
    .layout-item_#{$w1}-#{$w2} {
      @include column(100% * ($w1/$w2));
    }
  }
}

/// View Layouts
@for $w1 from 1 through $cols-max {
  .layout-type-view.layout-columns-#{$w1} .view-content .views-row {
    @include column(100% / $w1);
  }
}

/// Breakpoints for Grid Layout Items
.layout-grid > .layout-item_1-2,
.layout-columns-2 .views-row {
  @media screen and (max-width: 500px) {
    @include column(100%);
  }
}
.layout-grid > .layout-item_1-3,
.layout-columns-3 .view .view-content .views-row {
  @media screen and (max-width: 750px) {
    @include column(100%);
  }
}
.layout-grid > .layout-item_1-4,
.layout-columns-4 .views-row {
  @media screen and (max-width: 750px) {
    @include column(100% * (1/2));
  }
  @media screen and (max-width: 500px) {
    @include column(100%);
  }
}
.layout-grid > .layout-item_1-5,
.layout-columns-5 .views-row {
  @media screen and (max-width: 750px) {
    @include column(100% * (1/3));
  }
  @media screen and (max-width: 500px) {
    @include column(100% * (1/2));
  }
}
.layout-grid > .layout-item_1-6,
.layout-columns-6 .views-row {
  @media screen and (max-width: 750px) {
    @include column(100% * (1/3));
  }
  @media screen and (max-width: 500px) {
    @include column(100% * (1/2));
  }
}
.layout_2-3_1-3 > [class*='layout-item'],
.layout_1-3_2-3 > [class*='layout-item'] {
  @media screen and (max-width: 650px) {
    @include column(100%);
  }
}

.layout-height-auto {
  &.layout-align-top.layout-columns,
  &.layout-align-top .layout-columns,
  &.layout-align-top .view-content,
  &.layout-align-top .slick-track {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  &.layout-align-center.layout-columns,
  &.layout-align-center .layout-columns,
  &.layout-align-center .view-content,
  &.layout-align-center .slick-track {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &.layout-align-bottom.layout-columns,
  &.layout-align-bottom .layout-columns,
  &.layout-align-bottom .view-content,
  &.layout-align-bottom .slick-track {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.layout-height-equal {
  .layout-columns,
  .view-content,
  .slick-track {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  &.layout-align-top .layout-columns [class*='layout-item'] > .paragraph,
  &.layout-align-top .view-content .views-row > *,
  &.layout-align-top .slick-track .slick-slide > .paragraph {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100%;
  }
  &.layout-align-center .layout-columns [class*='layout-item'] > .paragraph,
  &.layout-align-center .view-content .views-row > *,
  &.layout-align-center .slick-track .slick-slide > .paragraph {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  &.layout-align-bottom .layout-columns [class*='layout-item'] > .paragraph,
  &.layout-align-bottom .view-content .views-row > *,
  &.layout-align-bottom .slick-track .slick-slide > .paragraph {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%;
  }
}

.layout-direction-ltr.layout-columns,
.layout-direction-ltr .layout-columns,
.layout-direction-ltr .view-content {
  flex-direction: row;
}
.layout-direction-rtl.layout-columns,
.layout-direction-rtl .layout-columns,
.layout-direction-rtl .view-content {
  flex-direction: row-reverse;
}

.layout-h-align-left,
.layout-h-align-left .paragraph {
  text-align: left;
}
.layout-h-align-center,
.layout-h-align-center .paragraph {
  text-align: center;
}
.layout-h-align-right,
.layout-h-align-right .paragraph {
  text-align: right;
}