@font-face {
  font-family: 'oxbow';
  src: url('../font/oxbow.eot?78392506');
  src: url('../font/oxbow.eot?78392506#iefix') format('embedded-opentype'),
       url('../font/oxbow.woff?78392506') format('woff'),
       url('../font/oxbow.ttf?78392506') format('truetype'),
       url('../font/oxbow.svg?78392506#oxbow') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'oxbow';
    src: url('../font/oxbow.svg?78392506#oxbow') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "oxbow";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-chat:before { content: '\31'; } /* '1' */
.icon-brush:before { content: '\32'; } /* '2' */
.icon-cog-1:before { content: '\33'; } /* '3' */
.icon-wrench-2:before { content: '\34'; } /* '4' */
.icon-cancel-circled:before { content: '\58'; } /* 'X' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-gplus:before { content: '\67'; } /* 'g' */
.icon-pinterest:before { content: '\70'; } /* 'p' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-cancel:before { content: '\78'; } /* 'x' */
.icon-youtube-play:before { content: '\79'; } /* 'y' */
.icon-firefox:before { content: '\e800'; } /* '' */
.icon-chrome:before { content: '\e801'; } /* '' */
.icon-ie:before { content: '\e802'; } /* '' */
.icon-plus-2:before { content: '\e803'; } /* '' */
.icon-quote-left:before { content: '\e804'; } /* '' */
.icon-quote-right:before { content: '\e805'; } /* '' */
.icon-plus-circled:before { content: '\e806'; } /* '' */
.icon-plus-squared:before { content: '\e807'; } /* '' */
.icon-flickr:before { content: '\e808'; } /* '' */
.icon-email:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-rss:before { content: '\e80c'; } /* '' */
.icon-instagram:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-home-1:before { content: '\e812'; } /* '' */
.icon-zoom-out:before { content: '\e813'; } /* '' */
.icon-popup:before { content: '\e814'; } /* '' */
.icon-basket:before { content: '\e815'; } /* '' */
.icon-basket-alt:before { content: '\e816'; } /* '' */
.icon-dot-3:before { content: '\e817'; } /* '' */
.icon-dot-2:before { content: '\e818'; } /* '' */
.icon-dollar:before { content: '\e819'; } /* '' */
.icon-star:before { content: '\e81a'; } /* '' */
.icon-star-empty:before { content: '\e81b'; } /* '' */
.icon-star-half-alt:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-ok-circled:before { content: '\e81e'; } /* '' */
.icon-info:before { content: '\e81f'; } /* '' */
.icon-cog:before { content: '\e820'; } /* '' */
.icon-wrench:before { content: '\e821'; } /* '' */
.icon-clock:before { content: '\e822'; } /* '' */
.icon-calendar-empty:before { content: '\e823'; } /* '' */
.icon-calendar:before { content: '\e824'; } /* '' */
.icon-menu:before { content: '\e825'; } /* '' */
.icon-play:before { content: '\e826'; } /* '' */
.icon-stop:before { content: '\e827'; } /* '' */
.icon-pause:before { content: '\e828'; } /* '' */
.icon-down-open:before { content: '\e829'; } /* '' */
.icon-left-dir:before { content: '\e82a'; } /* '' */
.icon-left-open-1:before { content: '\e82b'; } /* '' */
.icon-left-open:before { content: '\e82c'; } /* '' */
.icon-right-open:before { content: '\e82d'; } /* '' */
.icon-up-open:before { content: '\e82e'; } /* '' */
.icon-down-dir:before { content: '\e82f'; } /* '' */
.icon-right-dir:before { content: '\e830'; } /* '' */
.icon-help-circled:before { content: '\e831'; } /* '' */
.icon-up-dir:before { content: '\e832'; } /* '' */
.icon-down-open-1:before { content: '\e833'; } /* '' */
.icon-right-open-1:before { content: '\e834'; } /* '' */
.icon-right:before { content: '\e835'; } /* '' */
.icon-up-open-1:before { content: '\e836'; } /* '' */
.icon-down:before { content: '\e837'; } /* '' */
.icon-up:before { content: '\e838'; } /* '' */
.icon-mobile:before { content: '\e839'; } /* '' */
.icon-phone:before { content: '\e83a'; } /* '' */
.icon-cancel-1:before { content: '\e83b'; } /* '' */
.icon-cancel-circle:before { content: '\e83c'; } /* '' */
.icon-plus-1:before { content: '\e83d'; } /* '' */
.icon-warning-empty:before { content: '\e83e'; } /* '' */
.icon-opera:before { content: '\e83f'; } /* '' */
.icon-help:before { content: '\e840'; } /* '' */
.icon-warning:before { content: '\e841'; } /* '' */
.icon-attention:before { content: '\e842'; } /* '' */
.icon-bell:before { content: '\e843'; } /* '' */
.icon-bell-alt:before { content: '\e844'; } /* '' */
.icon-doc:before { content: '\e845'; } /* '' */
.icon-doc-text:before { content: '\e846'; } /* '' */
.icon-doc-inv:before { content: '\e847'; } /* '' */
.icon-doc-text-inv:before { content: '\e848'; } /* '' */
.icon-file-pdf:before { content: '\e849'; } /* '' */
.icon-download-alt:before { content: '\e84a'; } /* '' */
.icon-left:before { content: '\e84b'; } /* '' */
.icon-down-circled2:before { content: '\e84c'; } /* '' */
.icon-down-circle:before { content: '\e84d'; } /* '' */
.icon-left-circle:before { content: '\e84e'; } /* '' */
.icon-right-circle:before { content: '\e84f'; } /* '' */
.icon-up-circle:before { content: '\e850'; } /* '' */